.header {
    /* background-image: url("src/assets/img/HEADER.jpg"); */
    background-image: linear-gradient(to bottom, rgba(33, 58, 82, 0.76), rgba(72, 115, 155, 0));
    height: 600px
    /* Center and scale the image nicely */
    /* background-repeat: no-repeat; */
}
.input {
    min-width: 250px;
    height: 25px;
    border-radius: 15px;
    border: solid 1px #979797;
    background-color: #fff;
    padding: 0 15px;
    font-size: 13px;
    color: #a5a5a5;
    margin-right: 30px;
}