<div>
  <div class="header">
    <mat-toolbar style="background-color: rgba(0, 0, 0, 0);  padding: 10px 16px;">
      <mat-toolbar-row>
        <span>
          <img src="../../assets/img/logo-read-odds.png" width="100px">
        </span>
        <span class="spacer"></span>
        <input class="input" placeholder="Search">
        <button mat-button (click)="openDialog()">Create Book</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <router-outlet style="height: 100%;width: 100%;"></router-outlet>

</div>